/**
*
* * All variables for project can be found in this file
*
*/

// * --------| Color variables |-------- *
$color-primary: #00c1a6;
$color-primary-dark: #00ad95;

$color-secondary: #2e4c66;
$color-secondary-dark: #153045;
$color-secondary-dark-2: #0d1821;

$color-white: #ffffff;
$color-black: #111111;
$color-black-2: #252525;



